config_loader==1.0.0
flax==0.10.7
matplotlib==3.10.8
mediapy==1.2.5
mujoco==3.4.0
mujoco_mjx==3.4.0
numpy==2.4.1
optax==0.2.6
Pillow==12.1.0
PyYAML==6.0.3
rl_games==1.6.1
seaborn==0.13.2
torch==2.4.0
tqdm==4.67.1
